// BLACKGROUND
// neutral
$bg-d-1: #111417;
// $bg-d: #2c2b30;
// $bg-d-2: #4f4f51;
$bg-l-1: #d6d6d6;

// Red tone
// $bg-d-1: #182335; !!!!
// $bg-d: #2c2c2c;
// $bg-d: #2c2b30;
$bg-d-2: #4f4f51;
// $bg-l-1: #eae4cc;
$bg-l-2: #ebebe7;

// Blue tone
// $bg-d-1: #263157;
// primary colors
$primary: #f53163; //
// $primary: #f24657;
// $primary: #fd574c;
// $primary: #e15546;
$primary-l-1: #eeaf9d;
// $primary-l-2: #fef2f2;
$primary-l-2: #eae4cc;
// $primary: #f58f7c;
// $primary: #fc715e;
// $primary: #f2c4ce;

// $primary: #d58ebf;
// $primary: #e2abbe;
// $primary: #f0d9cb;
// $primary: #f1dfd3;

// secondary
$secondary: #7a77b9;
$secondary-l: #bd9dea;
$accent: #f9d326;
// $accent: #f2c76e;

// onColor
$onBgd: #fff;
$onBgl: #000;
$onPrimary: #fff;
$onSecondary: #000;
$onaccent: #000;

// Break points
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Gilda Display", serif;
  background-color: $bg-d-1;
  font-size: 62.5%;
  color: $primary;
}
.app {
  min-height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*Components*/
// Header
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  z-index: 2000;
}
// large screen navigation
.nav {
  &.nav--large-screen {
    font-size: 2.4rem;
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          margin: 0 30px;
          &,
          & a {
            color: $primary;
            &:hover {
              cursor: pointer;
              color: $primary-l-2;
              transition: color 0.3s ease-out;
            }
          }
          &.resume {
            &::after {
              content: " \2193";
              width: 10px;
              height: 32px;
              margin-left: 6px;
              display: inline-block;
            }
            &:hover::after {
              animation: float 1s infinite alternate-reverse;
            }
          }
        }
      }
    }
  }
  &.nav--small-screen {
    // menu logo - open
    .menu-opener {
      width: 7rem;
      height: 7rem;
      border: 1px solid $primary;
      text-align: center;
      line-height: 6.8rem;
      display: block;
      &:hover {
        .menu-opener__bar {
          &,
          &::before,
          &::after {
            background-color: $primary-l-2;
          }
          &::before {
            transform: translateY(-5px);
          }
          &::after {
            transform: translateY(5px);
          }
        }
      }

      .menu-opener__bar {
        position: relative;
        &,
        &::before,
        &::after {
          display: inline-block;
          width: 36px;
          height: 2px;
          background-color: $primary;
        }
        & {
          overflow: visible;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
        }
        &::before {
          top: -16px;
        }
        &::after {
          top: 16px;
        }
      }
    }
  }
}
// Logo
.logo--red {
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
  }
}
/*socials*/
.socials {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  @media screen and (max-width: $breakpoint-md) {
    visibility: hidden;
    transition: visibility ease-out 0.3s;
  }
  .social-link {
    margin: 50px 0;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: $primary-l-2;
      &:hover {
        fill: $primary;
      }
    }
  }
}
// Footer
footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
  font-size: 2rem;
}
// Cursor
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid $primary-l-1;
  pointer-events: none;
  transition: all 0.1s;
  z-index: 2000;
  &.hover {
    width: 100px;
    height: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
// Scroll-down icon
.scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border-radius: 100%;
  position: fixed;
  bottom: 2rem;
  font-size: 2rem;
  color: $primary-l-2;
  left: 50%;
  transform: translateX(-50%);
  svg {
    animation: float 1s infinite alternate-reverse;
  }
}
.btn {
  font-size: 3rem;
  padding: 1rem 3rem;
  margin-top: 2rem;
  background-color: $primary;
  color: $onaccent;
  &:hover {
    background-color: transparent;
    color: $primary-l-2;
    border: 1px solid $primary-l-2;
  }
}
.progress {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 10rem;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  // active when projects intersect viewport

  .progress__bar {
    width: 3rem;
    height: 4px;
    margin: 1rem 0;
    background-color: $primary-l-2;
    &.active {
      width: 5rem;
    }
  }
}
.project-card {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $primary-l-2;
  .project__number {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    font-size: 30rem;
    // line-height: 80%;
    font-weight: 700;
    white-space: nowrap;
    border: 1px solid white;
  }
  .project__intro {
    position: absolute;
    border: 1px solid white;
    font-size: 2rem;
    bottom: 5vh;
    left: 5vw;
    span {
      display: block;
    }
  }
  .project__image {
    width: 70vw;
    height: 60vh;
    background-color: $primary;
  }
}

/* Main pages*/
// Home
.home {
  // flex-direction: column;
  .home__hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-l-2;
    padding: 0 3rem;
    @media screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      .home__right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 0;
      }
    }
    .home__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1000;
      .home__intro {
        font-size: 3.2rem;
        span {
          font-size: 7.2rem;
          display: block;
        }
      }
    }
    .home__right {
      .home__bg {
        width: 400px;
        height: 400px;
        border-radius: 100%;
        background-color: $primary-l-1;
        margin: 5rem;
      }
    }
  }
  .home__projects {
    width: 100%;
    min-height: 100vh;
  }
}
// Menu
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  .menu__link {
    position: relative;
    color: $primary-l-2;
    font-size: 6.4rem;
    margin: 2rem 0;
    // padding-left: 6rem;

    &::before {
      position: absolute;
      bottom: 0;
      content: "";
      background-color: $primary-l-2;
      height: 2px;
      color: $primary-l-1;
      width: 23rem;
      transform: translateX(-23rem);
    }
    &:hover {
      color: $primary;
      // transform: translateX(1rem);
      &::before {
        transition: transform 0.3s linear;
        transform: translateX(0rem);
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
